In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
import itertools
print(os.listdir("B:\SKILL_FACTORY"))

['data', 'data.csv', 'data.json', 'data_sf.csv', 'genome-scores.csv', 'genome-tags.csv', 'info.txt', 'links.csv', 'log.csv', 'movies.csv', 'movies1.csv', 'movies_example.txt', 'ratings.csv', 'ratings1.csv', 'ratings_example.txt', 'README.txt', 'sample.csv', 'StudentsPerformance.csv', 'tags.csv', 'train.csv', 'users.csv']

In [2]:
data = pd.read_csv('B:\SKILL_FACTORY\data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Предобработка датасета

In [5]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
display(data.loc[data['budget'] == data['budget'].max()][['original_title','budget']])
answer_ls.append("4. The Warrior's Way (tt1032751)")

        original_title     budget
491  The Warrior's Way  425000000

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
display(data.loc[data['runtime']==data['runtime'].max()][['original_title','runtime']])
answer_ls.append("2. Gods and Generals (tt0279111)")

         original_title  runtime
1158  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [8]:
display(data.loc[data['runtime']==data['runtime'].min()][['imdb_id','original_title','runtime']])
answer_ls.append("3. Winnie the Pooh (tt1449283)")

       imdb_id   original_title  runtime
769  tt1449283  Winnie the Pooh       63

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [9]:
display(data['runtime'].mean())
answer_ls.append("2. 110")

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [10]:
display(data['runtime'].median())
answer_ls.append("1. 106")

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [11]:
#прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.
display(data.loc[data['profit']==data['profit'].max()])
answer_ls.append("5. Avatar (tt0499549)")

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [12]:
display(data.loc[data['profit']==data['profit'].min()])
answer_ls.append("2. The Warrior's Way (tt1032751)")

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [13]:
display(data.loc[data['profit']>0]['imdb_id'].count())
answer_ls.append("1. 1478")

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [14]:
display(data.loc[data['release_year']==2008][['original_title','profit']].sort_values('profit',ascending=None).head(1))
answer_ls.append("4. The Dark Knight (tt0468569)")

      original_title     profit
600  The Dark Knight  816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [15]:
display(data.loc[(data['release_year']>=2012)&(data['release_year']<=2014)][['original_title',
                                                                     'profit']].sort_values('profit').head(1))
answer_ls.append("5. The Lone Ranger (tt1210819)")

       original_title     profit
1246  The Lone Ranger -165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [16]:
genres_count = Counter()

for x in data['genres'].str.split('|'):
    genres_count+=Counter(x)
    
print(genres_count.most_common(1))
answer_ls.append("3. Drama")

[('Drama', 782)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [17]:
genres_count = Counter()

for x in data[data['profit']>0]['genres'].str.split('|'):
    genres_count+=Counter(x)
    
print(genres_count.most_common(1))
answer_ls.append("1. Drama")

[('Drama', 560)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [18]:
director_count = Counter()

for x in data['director'].str.split('|'):
    director_count+=Counter(x)
    
print(director_count.most_common(1))
answer_ls.append("3. Steven Soderbergh")

[('Steven Soderbergh', 13)]

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [19]:
director_count = Counter()

for x in data[data['profit']>0]['director'].str.split('|'):
    director_count+=Counter(x)
    
print(director_count.most_common(1))
answer_ls.append("4. Ridley Scott")

[('Ridley Scott', 12)]

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [20]:
count_profit = Counter()

for index, row in data.iterrows():
    names = row['director'].split('|') 
    for name in names:
        count_profit[name]+=row['profit']
        
display(count_profit.most_common(1))
answer_ls.append("5. Peter Jackson")

[('Peter Jackson', 5202593685)]

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [21]:
count_cast = Counter()

for index, row in data.iterrows():
    names = row['cast'].split('|')
    for name in names:
        count_cast[name]+=row['profit']
        
display(count_cast.most_common(1))
answer_ls.append("1. Emma Watson")

[('Emma Watson', 6666245597)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [22]:
count_cast = Counter()

for index, row in data.loc[data['release_year']==2012].iterrows():
    names = row['cast'].split('|')
    for name in names:
        count_cast[name]+=row['profit']
        
display(count_cast.most_common()[-1])
answer_ls.append("3. Kirsten Dunst")

('Kirsten Dunst', -68109207)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [23]:
count_cast = Counter()

for x in data[data['budget']>data['budget'].mean()]['cast'].str.split('|'):
    count_cast+=Counter(x)
    
display(count_cast.most_common(1))
answer_ls.append("3. Matt Damon")

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [24]:
count_genres = Counter()

for x in data.loc[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres+=Counter(x)
    
display(count_genres.most_common(1))
answer_ls.append("2. Action")

[('Action', 17)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
film_counter = Counter()

for x in data['production_companies'].str.split('|'):
    film_counter+=Counter(x)
    
display(film_counter.most_common(1))
answer_ls.append("1. Universal Pictures (Universal)")

[('Universal Pictures', 173)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [26]:
film_counter = Counter()

for x in data.loc[data['release_year']==2015]['production_companies'].str.split('|'):
    film_counter+=Counter(x)
    
display(film_counter.most_common(1))
answer_ls.append("4. Warner Bros")

[('Warner Bros.', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [27]:
comedy_count = Counter()

for index, row in data.loc[data['genres'].map(lambda x: True if 'Comedy' in x else False)].iterrows():
    compamies = row['production_companies'].split('|')
    for companie in compamies:
        comedy_count[companie]+=row['profit']
        
display(comedy_count.most_common(1))
answer_ls.append("2. Universal Pictures (Universal)")

[('Universal Pictures', 8961545581)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [28]:
money_count = Counter()

for index, row in data.loc[data['release_year']==2012].iterrows():
    companies = row['production_companies'].split('|')
    for companie in companies:
        money_count[companie]+=row['profit']
        
display(money_count.most_common(1))
answer_ls.append("3. Columbia Pictures")

[('Columbia Pictures', 2501406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [29]:
money_count = Counter()

for idex, row in data.loc[data['production_companies'].map(lambda x: True if 'Paramount Pictures' in x else False)].iterrows():
    money_count[row['original_title']]+=row['profit']

display(money_count.most_common()[-1])
answer_ls.append("1. K-19: The Widowmaker (tt0267626)")

('K-19: The Widowmaker', -64831034)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [30]:
money_count = Counter()

for index, row in data.iterrows():
    money_count[row['release_year']]+=row['profit']
    
display(money_count.most_common(1))
answer_ls.append("5. 2015")

[(2015, 18668572378)]

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [31]:
WB_count = Counter()

for index, row in data.loc[data['production_companies'].map(lambda x: True if 'Warner Bros' in x else False)].iterrows():
    WB_count[row['release_year']]+=row['profit']
    
display(WB_count.most_common(1))
answer_ls.append("1. 2014")

[(2014, 2295464519)]

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [32]:
film_count = Counter()

for index, row in data.iterrows():
    film_count[row['release_date'][:row['release_date'].find('/')]] += 1

display(film_count.most_common(1))
answer_ls.append("4. Сентябрь")

[('9', 227)]

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [33]:
film_count = 0

for index, row in data.iterrows():
    if int(row['release_date'][:row['release_date'].find('/')]) in [6,7,8]:
        film_count += 1
        
display(film_count)
answer_ls.append("2. 450")

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [34]:
direct_count = Counter()

for index, row in data.iterrows():
    names = row['director'].split('|')
    for name in names:
        if int(row['release_date'][:row['release_date'].find('/')]) in [12,1,2]:
            direct_count[name]+=1
            
display(direct_count.most_common(1))
answer_ls.append("5. Peter Jackson")

[('Peter Jackson', 7)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [35]:
profit_count = Counter()

years_data = data.pivot_table(index = data['release_date'].map(lambda x: int(x[:x.find('/')])),
                              columns = 'release_year',
                              values = 'profit',
                              aggfunc = 'sum')

for x in years_data.idxmax():
    profit_count[x]+=1
    
display(profit_count.most_common(1))
answer_ls.append("2. Июнь")

[(6, 7)]

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
len_count = Counter(); companie_count = Counter()

for index, row in data.iterrows():
    companies = row['production_companies'].split('|')
    for companie in companies:
        len_count[companie] += len(row['original_title'])
        companie_count[companie] += 1
        
len_count = pd.Series(len_count, dtype = 'float64')
companie_count = pd.Series(companie_count, dtype = 'float64')

for i in range(0,len(len_count)):
    len_count[i] = len_count[i]/companie_count[i]
    
display(len_count.sort_values(ascending = False).head(1))
answer_ls.append("5. Four By Two Productions")

Four By Two Productions    83.0
dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [37]:
word_count = Counter();companie_count = Counter()

for index, row in data.iterrows():
    companies = row['production_companies'].split('|')
    for companie in companies:
        word_count[companie] += len(row['original_title'].split())
        companie_count[companie] += 1

word_count = pd.Series(word_count, dtype = 'float64')
companie_count = pd.Series(companie_count, dtype = 'float64')
        
for i in range(0,len(word_count)):
    word_count[i] = (word_count[i]/companie_count[i])

display(word_count.sort_values(ascending = False).head(1))
answer_ls.append("5. Four By Two Productions")

Four By Two Productions    12.0
dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [38]:
word_list = []

for index, row in data.iterrows():
    words = row['original_title'].lower().split()
    for word in words:
        if word not in word_list:
            word_list.append(word)
            
display(len(word_list))
answer_ls.append("3. 2461")

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [39]:
best_data = data[['original_title','vote_average']].sort_values('vote_average',
                                                            ascending = False).head(int(len(data['vote_average'])*0.01))

display(best_data['original_title'])
answer_ls.append("1. Inside Out, Gone Girl, 12 Years a Slave")

600                                       The Dark Knight
125                                    The Imitation Game
9                                              Inside Out
118                                          Interstellar
34                                                   Room
1082        The Lord of the Rings: The Return of the King
873                                           The Pianist
1801                                              Memento
1192                                     12 Years a Slave
128                                             Gone Girl
138                              The Grand Budapest Hotel
119                               Guardians of the Galaxy
1184                              The Wolf of Wall Street
370                                             Inception
316                                              3 Idiots
1564                Eternal Sunshine of the Spotless Mind
497     The Lord of the Rings: The Fellowship of the Ring
28                                              Spotlight
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [40]:
display(Counter(np.sum([list(itertools.combinations(x, 2)) for x in data['cast'].str.split('|')])).most_common(1))
answer_ls.append("5. Daniel Radcliffe & Rupert Grint")

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [41]:
directors_count = Counter(); all_film_count = Counter()

for index,row in data.iterrows():
        directors = row['director'].split('|')
        for director in directors:
            all_film_count[director] += 1
            if row['profit']>0:
                directors_count[director] += 1
                
all_film_count = pd.Series(all_film_count, dtype = 'float64')
directors_count = pd.Series(directors_count, dtype = 'float64')

for i in directors_count.index:
    directors_count[i] = directors_count[i]/all_film_count[i]

display(directors_count[['Quentin Tarantino',
                 'Steven Soderbergh',
                 'Robert Rodriguez',
                 'Christopher Nolan',
                 'Clint Eastwood']].sort_values(ascending = False))

answer_ls.append("2. Quentin Tarantino")

Christopher Nolan    1.000000
Quentin Tarantino    0.857143
Clint Eastwood       0.833333
Steven Soderbergh    0.769231
Robert Rodriguez     0.727273
dtype: float64

# Submission

In [42]:
len(answer_ls)

36

In [43]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                      Answer
0    1            4. The Warrior's Way (tt1032751)
1    2            2. Gods and Generals (tt0279111)
2    3              3. Winnie the Pooh (tt1449283)
3    4                                      2. 110
4    5                                      1. 106
5    6                       5. Avatar (tt0499549)
6    7            2. The Warrior's Way (tt1032751)
7    8                                     1. 1478
8    9              4. The Dark Knight (tt0468569)
9   10              5. The Lone Ranger (tt1210819)
10  11                                    3. Drama
11  12                                    1. Drama
12  13                        3. Steven Soderbergh
13  14                             4. Ridley Scott
14  15                            5. Peter Jackson
15  16                              1. Emma Watson
16  17                            3. Kirsten Dunst
17  18                               3. Matt Damon
18  19                                   2. Action
19  20           1. Universal Pictures (Universal)
20  21                              4. Warner Bros
21  22           2. Universal Pictures (Universal)
22  23                        3. Columbia Pictures
23  24         1. K-19: The Widowmaker (tt0267626)
24  25                                     5. 2015
25  26                                     1. 2014
26  27                                 4. Сентябрь
27  28                                      2. 450
28  29                            5. Peter Jackson
29  30                                     2. Июнь
30  31                  5. Four By Two Productions
31  32                  5. Four By Two Productions
32  33                                     3. 2461
33  34  1. Inside Out, Gone Girl, 12 Years a Slave
34  35          5. Daniel Radcliffe & Rupert Grint
35  36                        2. Quentin Tarantino